<script>
  $(function() {
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
  });

  $(function() {
    $('.sections').sortable({
      update: function ( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>

<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center title-marg"><%= current_course.title %></h1>
  <div class="text-center">
    <%= image_tag current_course.image, class: 'img-fluid' %>
  </div>
  <br />
  <div class="text-center button-align">
    <%= link_to 'Preview Course', course_path(current_course), class: 'btn btn-danger float-left' %>
    <%= link_to 'New Section', new_instructor_course_section_path(current_course), class: 'btn btn-success float-right' %>
    <br class="clr" />
  </div>



  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header point">
          <i class="fa fa-sort" aria-hidden="true"></i>
          <%= section.title %>
        </div>
        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'btn btn-success btn-sm float-right lsn-btn' %>
        <br class="clr" />
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path(lesson) %>" class="gradient">
              <div class="row">
                <div class="col-1 point">
                  <br />
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </div>
                <div class="col-10 text-center point">
                  <p><b><%= lesson.title %></b></p>
                  <p><%= lesson.subtitle %></p>
                </div>
              </div>
              <br class="clr" />
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>

</div>
