<div class="booyah-box col-10 offset-1 booyah-top lsn-page text-center">
  <h1><%= current_lesson.title %>
    -
  <%= current_lesson.subtitle %></h1>

  <% if current_lesson.next_lesson.present? %>
    <%= link_to lesson_path(current_lesson.next_lesson), class: 'btn btn-default float-right next-lsn-btn' do %>
      Next Lesson &nbsp;
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    <% end %>
  <% end %>

  <br class="clr" />

  <div class="lesson-vid">
    <video id="my-video" class="video-js vjs-big-play-centered vjs-fluid" controls preload="auto"
    poster="<%= image_path('black.jpg') %>" data-setup="{}">
      <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
      <noscript>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </noscript>
    </video>
  </div>
</div>
