<div class="booyah-box col-10 offset-1 booyah-top dash-page">
  <h1 class="text-center">What I'm Learning</h1>
  <% current_user.enrolled_courses.each do |course| %>
    <h3 class="text-center"><%= link_to course.title, course_path(course) %></h3>
    <div class="text-center">
      <%= image_tag course.image, class: 'img-fluid' %>
    </div>
    <br />
    <div class="row">
      <div class="col-12 col-sm-8 descript">
        <%= course.description %>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-success' %>
      </div>
    </div>
    <hr />
    <br class="clr" />
  <% end %>

  <h1 class="text-center">What I'm Teaching</h1>
  <% current_user.courses.each do |course| %>
    <h3 class="text-center"><%= link_to course.title, course_path(course) %></h3>
    <div class="text-center">
      <%= image_tag course.image, class: 'img-fluid' %>
    </div>
    <br />
    <div class="row">
      <div class="col-12 col-sm-8 descript">
        <%= course.description %>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-success' %>
      </div>
    </div>
    <hr />
    <br class="clr" />
  <% end %>
</div>
